

@media (max-width: 768px) {
    .newsfasil {
        position: relative;
        left: 8%;
    }
  }
  @media (max-width: 768px) {
    .upcom{
        position: relative;
        left: 4%;
    }
  }